<mat-toolbar color="primary">
  Dashboard
  <div id="fileUploader">
    <form enctype="multipart/form-data" method="post">
      <div>
        <input type="file" id="picked" #picked (click)="message=''" (change)="onPicked(picked)" mat-button>
      </div>
      <p *ngIf="message">{{message}}</p>
    </form>
  </div>
</mat-toolbar>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="40.5em">
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-plot-data [JSONData]="metaboliteData"></app-plot-data>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
