<mat-toolbar color="primary">
  Dashboard
  <div id="parent-div">
      <div id="first-child">
        <button type="button" (click)="exportToCSV()">Export to CSV</button>
      </div>
      <div>
        <form enctype="multipart/form-data" method="post" hidden>
          <div>
            <input type="file" id="picked" #picked (click)="message=''" (change)="onPicked(picked)" mat-button>
          </div>
          <p *ngIf="message">{{message}}</p>
        </form>
      </div>
  </div>
</mat-toolbar>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="42.4em">
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-plot-data [JSONData]="metaboliteData"></app-plot-data>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
