<mat-toolbar color="primary">
  Dashboard
  <div id="parent-div">
      <div id="first-child">
        <button type="button" (click)="exportToCSV()">Export to CSV</button>
      </div>
      <div>
        <input type="file" name="photo" ng2FileSelect [uploader]="uploader" />
        <button type="button" (click)="uploader.uploadAll()"
          [disabled]="!uploader.getNotUploadedItems().length">
              Upload File
        </button>
      </div>
  </div>
</mat-toolbar>
<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="42.4em">
    <mat-grid-tile [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card">
        <mat-card-content class="dashboard-card-content">
          <app-plot-data [JSONData]="metaboliteData"></app-plot-data>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
