.example-viewport {
    height: 37.5em !important;
    width: 100%;
    border: 1px solid black;
  }

.example-item {
    padding: 25px;
    background: white;
    margin-bottom: 2px;
    text-align: center;
    font-size: 20px;
  }
