<div>
  <mat-form-field>
    <mat-select placeholder="Metabolites" (selectionChange)="metaboliteChanged($event.value)">
      <mat-option *ngFor="let metabolite of metabolites" [value]="metabolite">
        {{metabolite.key}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div id="graphs">
        <canvas baseChart [id]="graphData.metabolite" [datasets]="lineChartData"
          [labels]="lineChartLabels" [options]="lineChartOptions" [colors]="lineChartColors"
          [legend]="lineChartLegend" [chartType]="lineChartType">
        </canvas>
</div>
